 html {
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 :root {
   --font-bodycopy: 'Roboto', sans-serif;
   --font-title: 'EB Garamond', serif;

   --c-white: #F0EDE6;
   --c-black: #1E1E1E;
   --c-pink: #FB0B4F;
   --c-blue: #307DD6;
 }

 body {
   height: 100vh;
   font-family: var(--font-bodycopy);
   background-color: var(--c-white);
   color: var(--c-black);
   font-weight: 400;
   line-height: 1.6875rem;
   margin: 0;
 }

 p,
 h1,
 h2,
 h3 {
   padding: 0 20px;
 }

 button {
   margin: 0 20px;
 }


 .viually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
 }

 h1,
 h2,
 h3 {
   font-family: var(--font-title);
   font-weight: 700;
 }

 h1 {
   font-size: 2.313rem;
   line-height: 3rem
 }

 h2 {
   font-size: 1.875rem;
   line-height: 2rem;
 }

 nav {
   background-color: var(--c-black);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   padding-bottom: 25px;
 }

 .nav__menu {
   align-items: center;
   padding-left: 50px;
   display: none;
 }

 .nav__list {
   list-style: none;
 }

 .nav__list li {
   margin: 15px 0;
 }

 nav a {
   text-decoration: none;
   color: var(--c-white);
 }

 nav a:hover {
   color: var(--c-pink);
 }

 .nav__button {
   margin-left: 20px;
 }

 .nav__hamburger {
   margin-left: auto;
   padding-right: 20px;
   margin-top: 70px;
 }

 .nav__button {
   padding-left: -30px;
 }

 button {
   padding: 10px 24px;
   background-color: var(--c-black);
   color: var(--c-white);
   border: 4px solid var(--c-white);
   border-radius: 5px;
 }

 .nav__menu.visible {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 header {
   background: linear-gradient(to bottom, var(--c-pink) 0%, var(--c-pink) 518px, var(--c-white) 518px);
   text-align: center;
 }

 .header__content {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
 }

 .header__text {
   justify-content: center;
   margin-left: -100px;
 }

 .header__logo {
   margin-top: 250px;
   margin-left: 30px;
   z-index: 2;
   position: relative;
 }

 .header__image {
   margin-top: -165px;
   z-index: 1;
   position: relative;
 }

 .header__title {
   max-width: 300px;
   text-align: center;
   margin-top: 30px;
   color: var(--c-white);
   margin-top: -30px;
   padding-bottom: 100px;
   position: relative;
   z-index: 3;
 }

 .header__word {
   color: var(--c-pink);
   font-size: 6.25rem;
   z-index: 4;
   font-family: var(--font-title);
   margin-top: -50px;
   position: relative;
   text-shadow:
     2px 2px 0px var(--c-white),
     -2px -2px 0px var(--c-white),
     2px -2px 0px var(--c-white),
     -2px 2px 0px var(--c-white);
 }

 .header__button {
   padding: 24px 62px;
   color: var(--c-black);
   background-color: var(--c-white);
   border: 4px solid var(--c-black);
   border-radius: 5px;
   margin-top: -100px;
   position: relative;
   z-index: 4;
 }

 .header__intro {
   text-align: left;
   max-width: 350;
   padding: 0 20px;
 }

 .section1,
 .section2,
 .section3,
 .section4,
 .section5,
 .section6,
 .section7,
 .section8 {
   padding-bottom: 50px;
 }

 .section1__word,
 .section1__word span {
   margin: 0;
 }

 .section1__word {
   font-size: 4.688rem;
   font-weight: 600;
   letter-spacing: 0.2em;
   display: inline-flex;

 }

 .section1__word span {
   padding-top: 25px;
   padding-bottom: 25px;
   color: var(--c-white);
   text-shadow:
     2px 2px 0px var(--c-black),
     -2px -2px 0px var(--c-black),
     -2px 2px 0px var(--c-black),
     2px -2px 0px var(--c-black);
 }

 .section1__word .blue-stroke,
 .blue-stroke-n {
   text-shadow:
     2px 2px 0px var(--c-blue),
     -2px -2px 0px var(--c-blue),
     -2px 2px 0px var(--c-blue),
     2px -2px 0px var(--c-blue);
 }

 .section1__hightlight {
   color: var(--c-blue);
 }


 .section2 {
   background: linear-gradient(to bottom, var(--c-pink) 0%, var(--c-pink) 90%, var(--c-white) 90%);
   padding-top: 5px;
   color: var(--c-white);
 }

 .section2__highlight {
   color: var(--c-black);
   font-weight: 600;
 }

 .section2__word {
   color: var(--c-pink);
   font-family: var(--font-title);
   font-size: 4.688rem;
   font-weight: 600;
   text-shadow:
     2px 2px 0px var(--c-black),
     -2px -2px 0px var(--c-black),
     -2px 2px 0px var(--c-black),
     2px -2px 0px var(--c-black);
   margin-top: -20px;
   margin-bottom: 75px;
 }

 .section2__title {
   margin-left: 2.5rem;
 }

 .section2__pressletters {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-bottom: 25px;
 }

 .section2__fact {
   background-color: var(--c-white);
   color: var(--c-black);
   border: 3px solid var(--c-black);
   margin: 0 20px;
   border-radius: 10px;
 }

 .section2__button {
   background-color: var(--c-white);
   color: var(--c-black);
   border: 4px solid var(--c-black);
   padding: 10px 20px;
   margin-bottom: 15px;
 }

 .section3__word {
   font-weight: bold;
   color: var(--c-blue);
   font-size: 3.125rem;
   text-align: end;
   margin-bottom: -30px;
   transform: rotate(-20deg);
 }

 .section3__hightlight {
   color: var(--c-blue);
   font-weight: 600;
 }

 .section3__year {
   display: flex;
   justify-content: center;
   font-size: 7rem;
   font-weight: 600;
   color: var(--c-blue);
   margin-top: 75px;
 }

 .section4 {
   background-color: var(--c-pink);
   color: var(--c-white);
   margin-top: -75px;
 }

 .section4__title {
   display: flex;
   justify-content: center;
   padding-top: 25px;
 }

 .section4__exclamation {
   display: flex;
   justify-content: end;
   font-size: 9.375rem;
   margin-top: -10px;
 }

 .section4__text {
   margin-top: -150px;
   max-width: 320px;
 }

 .section4__highlight {
   color: var(--c-black);
   font-weight: 600;
 }

 .section4__rectangle {
   width: 350px;
   height: 60px;
   background-color: var(--c-white);
   border-radius: 30px 0 0 30px;
   margin-top: -30px;
 }

 .section4__container {
   display: flex;
   justify-content: end;
 }

 .section4__plantin {
   margin-left: 50px;
 }

 .section4__action {
   margin-left: 10px;
 }

 .section5__highlight {
   background-color: var(--c-black);
   color: var(--c-white);
   padding: 3px;
 }

 .section6 {
   background: linear-gradient(to bottom, var(--c-pink) 0%, var(--c-pink) 70%, var(--c-white) 80%);
   overflow-x: hidden;
 }

 .section6__title {
   display: flex;
   justify-content: center;
   color: var(--c-white);
 }

 .section6__word {
   font-size: 3.125rem;
   margin-left: 50px;
 }

 .section6__collection {
   margin-top: 80px;
   margin-left: -75px;
 }

 .section6__cards {
   display: flex;
   width: 100%;
 }

 .section6__card1,
 .section6__card2,
 .section6__card3 {
   color: var(--c-white);
   max-width: 100%;

 }

 .section6__container {
   position: relative;
   width: 308px;
   height: 413px;
 }

 .section6__overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   background-color: rgba(31, 30, 30, 0.7);
   border-radius: 20px;

   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .section6__circles {
   display: flex;
   gap: 15px;
   margin-top: 25px;
   justify-content: center;
 }

 .circle {
   width: 20px;
   height: 20px;
   background-color: var(--c-black);
   border-radius: 50%;
 }


 .section7__quote {
   font-family: var(--font-title);
   font-size: 6.25rem;
   color: var(--c-blue);
   margin-bottom: -20px;
 }

 .section7__quotecontainer {
   display: flex;
   justify-content: end;
   margin-top: -75px;
 }

 .section7__bodycopy {
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .section7__title {
   display: flex;
   justify-content: center;
 }

 .section7__highlight {
   color: var(--c-white);
   background-color: var(--c-blue);
   padding: 3px;
 }

 .section8__highlight {
   color: var(--c-pink);
 }

 .section8__title {
   max-width: 300px;
 }

 .section8 {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .section8__find {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   max-width: 250px;
   border: 2px solid var(--c-pink);
   color: var(--c-pink);
   border-radius: 10px;
   margin-bottom: 15px;
 }

 footer {
   background-color: var(--c-black);
   color: var(--c-white);
 }

 .footer__title {
   display: flex;
   color: var(--c-pink);
 }

 .footer__more,
 .footer__stories {
   font-size: 2.188rem;
 }

 .footer__qustion {
   font-size: 4.688rem;
   margin-left: -20px;
 }

 .footer__stories {
   margin-top: 75px;
   margin-left: -75px;
 }

 .footer__more {
   margin-left: 40px;
 }

 .footer__active {
   color: var(--c-pink);
 }

 .footer__container {
   display: flex;
   padding-bottom: 25px;
 }


 @media screen and (min-width: 90em) {

   h2 {
     font-size: 3.125rem;
     line-height: 4rem;
   }

   .nav__menu {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
   }

   nav {
     display: flex;
     justify-content: left;
     align-items: center;
     padding: 20px 0;
   }

   .nav__hamburger {
     display: none;
   }

   .nav__list {
     display: flex;
   }

   .nav__list li {
     margin: 0 30px;
   }

   .nav__button {
     margin-left: 400px;
   }

   header {
     background: linear-gradient(to bottom, var(--c-pink) 0%, var(--c-pink) 10628px, var(--c-white) 518px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-bottom: 50px;
   }

   .header__content {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     position: relative;
     margin-bottom: 20px;
   }

   .header__logo {
     width: 189px;
     height: 179px;
     margin-top: -400px;
     margin-left: -300px;
   }

   .header__image {
     width: 459px;
     height: 588px;
     margin-top: -600px;
     margin-left: 20px;
   }

   .header__title {
     font-size: 3rem;
     margin-right: 100px;
     margin-top: 400px;
     min-width: 400px;
   }

   .header__text {
     display: flex;
     flex-direction: column;
   }

   .header__button {
     margin-top: -100px;
     margin-left: -400px;
     padding: 40px 60px;
     font-size: 2.188rem;
   }

   .header__intro {
     color: var(--c-white);
     max-width: 510px;
     margin-left: 1000px;
     margin-top: -100px;
   }

   .header__word {
     color: var(--c-white);
     text-shadow: none;
     font-size: 15.406rem;
     margin-left: 350px;
     margin-top: -200px;
     font-weight: 600;
   }

   .section1 {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 150px 0;
   }

   .section1__word {
     font-size: 9.375rem;
     margin-top: 25px;
     margin-left: 50px;
     margin-bottom: 50px;
   }

   .section1__text {
     max-width: 575px;
     margin-left: -220px;
   }

   .section1__title{
    margin-left: -75px;
   }

   .blue-stroke-n {
     padding-right: 150px;
   }

   .rectangle {
     width: 211px;
     height: 539px;
      border-radius: 10px 10px 0 0;
     background-color: var(--c-pink);
     position: absolute;
     bottom: 0;
     right: 0;
   }
 }