 :root {
   --font-bodycopy: 'Roboto', sans-serif;
   --font-title: 'EB Garamond', serif;

   --c-white: #F0EDE6;
   --c-black: #1E1E1E;
   --c-pink: #FB0B4F;
   --c-blue: #307DD6;
 }

 body {
   height: 100vh;
   font-family: var(--font-bodycopy);
   background-color: var(--c-white);
   color: var(--c-black);
   font-weight: 400;
   line-height: 1.6875rem
 }

 .viually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
 }

 h1,
 h2,
 h3 {
   font-family: var(--font-title);
   font-weight: 700;
 }

 h1 {
   font-size: 6.25rem;
   line-height: 6.6875rem
 }

 h2 {
   font-size: 1.875rem;
 }

 nav {
   background-color: var(--c-black);
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   padding-bottom: 25px;
 }

 .nav__menu {
   align-items: center;
   padding-left: 50px;
   display: none;
 }

 .nav__list {
   list-style: none;
 }

 .nav__list li {
   margin: 15px 0;
 }

 nav a {
   text-decoration: none;
   color: var(--c-white);
 }

 nav a:hover {
   color: var(--c-pink);
 }

 .nav__button {
   margin-left: 20px;
 }

 .nav__hamburger {
   margin-left: auto;
   padding-right: 20px;
   margin-top: 70px;
 }

 .nav__button {
   padding-left: -30px;
 }

 button {
   padding: 10px 24px;
   background-color: var(--c-black);
   color: var(--c-white);
   border: 4px solid var(--c-white);
   border-radius: 5px;
 }

 .nav__menu.visible {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }